.toast {
    flex-basis: unset !important;
}
.cursor {
    &-default {
        cursor: default;
    }
    &-pointer {
        cursor: pointer;
    }
}

.is {
    &-256x256 {
        width: 256px;
        height: 256px;
    }
}

.image-256x256 {
    max-width: 256px;
    max-height: 256px;
}

nav.steps > ul.step-items > li.step-item > a.step-link:hover {
    text-decoration: none;
}

.confidence-badge {
    padding: 4px 9px;
    border-radius: 18px;
    color: #fff;
}
.confidence {
    &-low {
        background: gray;
    }
    &-middle {
        background: #02c5e0;
    }
    &-high {
        background: #2ac178;
    }
}
