.toast {
    flex-basis: unset !important;
}
.cursor {
    &-default {
        cursor: default;
    }
    &-pointer {
        cursor: pointer;
    }
}

.is {
    &-256x256 {
        width: 256px;
        height: 256px;
    }
}

.image-256x256 {
    max-width: 256px;
    max-height: 256px;
}

nav.steps > ul.step-items > li.step-item > a.step-link:hover {
    text-decoration: none;
}
